<div class="login_form">
<div class="user_form">
  <div class="Brand_name">
    <h1>Fusion Restaurant</h1>
  </div>
  <div class="container">
<form action="" method="get" class="form_example">
  
    <div class="form-example">
      <label for="name">User Name : </label>
      <input  class="form-1" type="text" name="name" id="name" placeholder="Enter your user name">
    </div>
    <div class="form-example">
      <label for="Password">Password :</label>
      <input class="form-1" type="password" name="password" id="password" placeholder="Enter your password">
    </div>
    <div class="bottom_section">
    <div class="button">
      <button class="btn btn-warning" (Click)="submit()">Submit</button>
    </div>

      <a routerLink="/forgetpassword" class="forgetpassword" >forgetpassword</a>

  </div>

</form>
</div>
</div>
</div>